<div class="hero-unit">
  <div class="container">
    <div class="row-fluid">
      <div class="span4 signup">
          <h1 class="logo">365days</h1>
            <p style="font-size: 28px;">your personal calendar</p>
            <div class="button_row">
              <%= link_to "Sign Up", new_user_registration_path, class: " butt blue primary" %>
            </div>     
      </div>
      <div class="span6 app">
          <%= image_tag('app-365.png')%>
      </div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="365days - you personal calendar" data-via="expsk" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </div>
</div>

<div class="container">
  <div class="row media">
    <div class="span4 box">
      <p><%= image_tag('calendar_blue.png') %></p>
      <h2>Create events</h2>
      <p>Remember Birthdays.</p>
    </div>
    <div class="span4 box">
      <%= image_tag('users_blue.png') %>
      <h2>Shared events</h2>
      <p>Invite peoples to your events.</p>
   </div>
    <div class="span4 box">
      <%= image_tag('note_blue.png') %>
      <h2>Sticky notes</h2>
      <p>Make quick notes and to-do lists.</p>
    </div>
  </div>
</div>