<div class="form-signin">
  <h2 class="form-signin-heading">Please sign up</h2>
    
  <div class="user_form">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      
      <div id="field"><%= f.label :username %>
      <%= f.text_field :username %></div>
      
      <div id="field"><%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %></div>
    
      <div id="field"><%= f.label :password %>
      <%= f.password_field :password %></div>
    
      <div id="field"><%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %></div>
      <br>
      <div><%= f.submit "Sign up", class: "butt blue" %></div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</div>