<h3><%= @event.name %></h3>
<%= @event.user.username %>
start: <%= @event.start_at %><br>
end: <%= @event.end_at %>
</br>
<%= link_to "Edit event", edit_event_path(@event) %>
<%= link_to "Back", :back %>