<legend><h3><%= @event.name %></h3></legend>

<%= @event.start_at.strftime("Start at: %e %B %Y %H:%M") %><br>
<%= @event.end_at.strftime("End at: %e %B %Y %H:%M") %></br>

<% if @event.description %>
    Description:
    <%= @event.description %></br>
<% end %>

<legend><%= button_to "Delete", @event, class: 'btn btn-danger', method: :delete, data: { confirm: "Are you sure?"} %></legend>

<div id="inline">
    <%= link_to "Edit event", edit_event_path(@event), class: "btn" %>
    <%= link_to "Back", :back, class: "btn" %>
</div>